---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="All about Merri"
	pubDate={new Date('July 30 2025')}
	heroImage="/merri_avatar.jpg"
>
	<p>
		Hi there! My name is Merri and I'm one of the managers of the Rhytididae club in the mobile 
		game Super Snail. The idea of this website came from a member of the club called Lampside 
		posting a <a href="tinyurl.com/rhytididae">tinyurl.com/rhytididae </a> link during his week as
		mascot.
	</p>

	<p>
		Each week we ask our members to fill out a survey. This helps us to keep up to date with the 
		strength of our members, so we know which role to place them in for the following week of Species 
		War. At the end of the short survey, I will commonly ask a random question to the members, and 
		the reply that I find the best (or sometimes put to a vote with the other managers when it's hard
		to decide) is then the mascot for a week.
	</p>

	<p>
		I hope you will enjoy looking around this silly little website. I don't think it's too bad for £7 a 
		year.
	</p>
	<p>
		_The Sexy Telephone Person_
	</p>
</Layout>
