---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Calculators"
	description="Different available calculators ofr in game aspects"
	pubDate={new Date('July 05 2025')}
	heroImage="/partner.jpg"
>

<h1><a href="https://docs.google.com/spreadsheets/d/1J-EzjLhgt7YWZj_RDPPGVDG71blC0UA6bbwkJLrBIhM/edit?gid=1895103709#gid=1895103709">Protomon Glory Calculator</a></h1>
	<p>
		One of our members, Butterwhale, put together this calculator so you can work out if your current priests and devotees are your optimal ones. The
		sheet should be saved to your google drive as a new copy, so you can then edit the second page. This allows you to test swapping out a priest 
		or devotee for a new one, without having to spend the wtads to do it.
	</p>
<h1><a href="https://docs.google.com/spreadsheets/d/1yrytI3qR0Y5RtJ0KzA5CywsHW9RTLv04nVvVfnfQI1g/edit?gid=753699912#gid=753699912">Super Snail calcs</a></h1>
	<p>
		This is a detailed google sheet going over all the different parts of the game. This includes things such as best museum relics for different areas, ways 
		to improve travel time or even the stats needed to beat specific anecdotes in the rift. It's a very comprehensive list of information.<br>
		Like with the glory calculator above, create a copy of the sheet to make it editable.
	</p>
</Layout>
