---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Super Snail Guides"
	description="Guides to help players of the game Super Snail"
	pubDate={new Date('July 30 2025')}
	heroImage="/merri_avatar.jpg"
>
	<p>
		Testing creating a guide page
	</p>

	<p>
		Will share a collection of guides here to aid players
	</p>
</Layout>
