---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Super Snail Guides"
	description="Guides to help players of the game Super Snail"
	pubDate={new Date('July 30 2025')}
	heroImage="/merri_avatar.jpg"
>

<h1><a href="https://docs.google.com/spreadsheets/d/1J-EzjLhgt7YWZj_RDPPGVDG71blC0UA6bbwkJLrBIhM/edit?gid=1895103709#gid=1895103709">Protomon Glory Calculator</a></h1>
	<p>
		One of our members, Butterwhale, put together this calculator so you can work out if your current priests and devotees are your optimal ones. The
		sheet should be saved to your google drive as a new copy, so you can then edit the second page. This allows you to test swapping out a priest 
		or devotee for a new one, without having to spend the wtads to do it.
	</p>
<h1><a href="https://docs.google.com/spreadsheets/d/1yrytI3qR0Y5RtJ0KzA5CywsHW9RTLv04nVvVfnfQI1g/edit?gid=753699912#gid=753699912">Super Snail calcs</a></h1>
	<p>
		This is a detailed google sheet going over all the different parts of the game. This includes things such as best museum relics for different areas, ways 
		to improve travel time or even the stats needed to beat specific anecdotes in the rift. It's a very comprehensive list of information.<br>
		Like with the glory calculator above, create a copy of the sheet to make it editable.
	</p>
<h1>Partner Bonuses</h1>
	<h3>Kim Chi-yum</h3> 
		- TECH +5 <br>
		- Tadpole Pond B-tad Output +0.3% <br>
		<br>
		- Angel Minion MAX +1<br>
		- Per 10 Koryeon Snails in battle: +100 Troop HP<br>
	<h3>Big Gal Park</h3> 
		- FAME +5<br>
		- Snail ATK +5<br>
		<br>
		- Demon Minion MAX +1<br>
		- Per 10 Ironball Throwers in battle: +10 Troop ATK<br>
	<h3>Chichikaka</h3> 
		- CIV +5<br>
		- Snail ATK +5<br>
		<br>
		- Mutant Minion MAX+1<br>
		- Per 10 Chikas in battle: +10 Troop ATK<br>
	<h3>Prince Nerd's Soul</h3> 
		- FTH +5<br>
		- Soul Offering SPD + 0.6%<br>
		<br>
		- Zombie Minion MAX +1<br>
		- Per 10 Tomb Figures in battle: +10 Troop DEF<br>
	<h3>Jiro Toyato</h3> 
		- FTH +5<br>
		- Free Gene Speedup (mecha) +30s<br>
		<br>
		- Mecha Minion MAX +1<br>
		- Per 10 Mechanics in battle: +100 Troop HP<br>
	<h3>Leeku</h3> 
		- ART +5<br>
		- Free Gene Speedup (Angel) +30s<br>
		<br>
		- Angel Minion MAX +1<br>
		- Per 10 Stans in battle: +100 Troop HP<br>
	<h3>Taoraemon</h3> 
		- TECH +5<br>
		- All Gene Research SPD +1%<br>
		<br>
		- Angel Minion MAX +1<br>
		- Per 10 Catcolytes in battle: +10 Troop RUSH<br>
	<h3>Ghost Zadako</h3> 
		- FAME +5<br>
		- Free Gene Speedup (Zombie) +30s<br>
		<br>
		- Zombie Minion MAX +1<br>
		- Per 10 Wraiths in battle: +10 Troop DEF<br>
	<h3>Red Doe</h3>
		- ART +5<br>
		- Free Gene Speedup (Mutant) +30s<br>
		<br>
		- Demon Minion MAX +1<br>
		- Per 10 Nightmare Steeds in battle: +10 Troop DEF<br>
	<h3>Lee Gi-na</h3> 
		- CIV +5<br>
		- Time Machine Travel Speedup Output +1%<br>
		<br>
		- Mutant Minion Max +1<br>
		- Per 10 Minorinos in battle: +100 Troop HP<br>
	<h3>Taoist Yu Ji</h3> 
		- FTH +5<br>
		- Quarry Output +1%<br>
		<br>
		- Dragon Minion MAX +1<br>
		- Per 10 Drawn Dragons in battle: +10 Troop DEF<br>
	<h3>Must-Not-Name</h3>
		- FTH +5<br>
		- Free Gene Speedup (Demon) +30s<br>
		<br>
		- Dragon Minion MAX +1<br>
		- Per 10 Frost Drakes in battle: +10 Troop ATK<br>
	<h3>Neandergal</h3>
		- FAME +5<br>
		- Snail RUSH +5<br>
		<br>
		- Demon Minion MAX +1<br>
		- Per 10 Beserkers in battle: +10 Troop ATK<br>
	<h3>Zhuge Liang</h3> 
		- CIV +5<br>
		- Lumber Camp Output +1%<br>
		<br>
		Mecha Minion MAX +1<br>
		Per 10 Wood Golems in battle: +10 Troop RUSH<br>
	<h3>Sewer Turtle</h3> 
		- FTH +5<br>
		- Zombie Minion Recovery SPD +0.3%<br>
		<br>
		- Zombie Minion MAX +1<br>
		- Per 10 Undead Turtles in battle: +10 Troop DEF<br>
	<h3>Demon Chan-hee</h3>
		- FAME +5<br>
		- In Gene Sims, DMG +0.5%<br>
		<br>
		- Mutant Minion MAX +1<br>
		- Per 10 Demonized Tentacles in battle: +10 Troop RUSH<br>
	<h3>Snail Mech</h3>
		- TECH +5<br>
		- Wormhole refine time +60s<br>
		<br>
		- Mecha Minion MAX +1<br>
		- Per 10 Snail Mechs in battle: +10 Troop RUSH<br>
	<h3>Peter Jr.</h3> 
		- TECH +5<br>
		- Mecha Minion Recovery SPD +0.3%<br>
		<br>
		- Mecha Minion MAX +1<br>
		- Per 10 Keyboard Warriors in battle: +10 Troop RUSH<br>
	<h3>Sleuth Doom</h3> 
		- ART +5<br>
		- Demon Minion Recovery SPD +0.3%<br>
		<br>
		- Demon Minion MAX +1<br>
		- Per 10 Imps in battle: +10 Troop RUSH<br>
	<h3>Nito UR</h3> 
		- FTH +5<br>
		- Lottery Blue Orbs turn to Purple by +0.3%<br>
		<br>
		- Zombie Minion MAX +1<br>
		- Per 10 Mummy Rs in battle: +100 Troop HP<br>
	<h3>Mosasaur</h3> 
		- CIV +5<br>
		- Dragon Minion Recovery SPD +0.3%<br>
		<br>
		- Dragon Minion MAX +1<br>
		- Per 10 Nanosaurs in battle: +10 Troop DEF<br>
	<h3>Female Daemon</h3>
		- ART +5<br>
		- Mutant Minion Recovery SPD +0.3%<br>
		<br>
		- Mutant Minion MAX +1<br>
		- Per 10 Little Monks in battle: +10 Troop ATK<br>
	<h3>Athena</h3>
		- FAME +5<br>
		- Leadership +1<br>
		- Angel Minion Recovery SPD +0.3%<br>
		<br>
		- Angel Minion MAX +1<br>
		- Per 10 Sanctum Warriors in battle: +100 Troop HP<br>
	<h3>Slug Dragon Tutor</h3> 
		- ART +5<br>
		- Free Gene Speedup (Dragon) +30s<br>
		<br>
		- Dragon Minion MAX +1<br>
		- Per 10 Slug Dragonlings in battle: +10 Troop RUSH<br>
	<h3>Washed-up Noble</h3>
		- ART +5<br>
		- Special Tourist Like Bonus +1%<br>
		<br>
		- Demon Minion MAX +1<br>
		- Per 10 Vampires in battle: +10 Troop ATK<br>
</Layout>
