---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Super Snail Guides"
	description="Guides to help players of the game Super Snail"
	pubDate={new Date('July 30 2025')}
	heroImage="/merri_avatar.jpg"
>

<h1><a href="https://docs.google.com/spreadsheets/d/1J-EzjLhgt7YWZj_RDPPGVDG71blC0UA6bbwkJLrBIhM/edit?gid=1895103709#gid=1895103709">Protomon Glory Calculator</a></h1>
	<p>
		One of our members, Butterwhale, put together this calculator so you can work out if your current priests and devotees are your optimal ones. The
		sheet should be saved to your google drive as a new copy, so you can then edit the second page. This allows you to test swapping out a priest 
		or devotee for a new one, without having to spend the wtads to do it.
	</p>
<h1><a href="https://docs.google.com/spreadsheets/d/1yrytI3qR0Y5RtJ0KzA5CywsHW9RTLv04nVvVfnfQI1g/edit?gid=753699912#gid=753699912">Super Snail calcs</a></h1>
	<p>
		This is a detailed google sheet going over all the different parts of the game. This includes things such as best museum relics for different areas, ways 
		to improve travel time or even the stats needed to beat specific anecdotes in the rift. It's a very comprehensive list of information.<br>
		Like with the glory calculator above, create a copy of the sheet to make it editable.
	<p>
<h1>Partner Bonuses</h1>
	<h3>Kim Chi-yum</h3> 
		- TECH +5
		- Tadpole Pond B-tad Output +0.3%
		
		- Angel Minion MAX +1
		- Per 10 Koryeon Snails in battle: +100 Troop HP
	<h3>Big Gal Park</h3> 
		- FAME + 5
		- Snail ATK +5

		- Demon Minion MAX +1
		- Per 10 Ironball Throwers in battle: +10 Troop ATK
	<h3>Chichikaka</h3> 
		- CIV + 5
		- Snail ATK +5
		
		- Mutant Minion MAX+1
		- Per 10 Chikas in battle: +10 Troop ATK
	<h3>Prince Need</h3> 
		- FTH/ soul offering speed up
	<h3>Jiro</h3> 
		- FTH/mech gene speedup
	<h3>Leeku</h3> 
		- ART/angel gene speedup
	<h3>Taoraemon</h3> 
		- TECH/all gene speedup
	<h3>Zadako</h3> 
		- FAME/zomb gene speedup
	<h3>Red doe</h3> - art/mutant speedup 
	<h3>Lee GI-Na</h3> - civ/Time Machine speedup
	<h3>Taoist</h3> - fth/quarry boost
	<h3>Zhuge</h3> - civ/lumber boost 
	<h3>Turtle</h3> - fth/zomb recov speed
	<h3>Peter</h3> - tech/mech recov speed
	<h3>Sleuth</h3> - art/demon recov speed
	<h3>Nito</h3> - fth/lottery blue > purple
	<h3>Mosasaur</h3> - civ/dragon recov speed
	<h3>Tutor</h3> - art/dragon gene speedup
	</p>

	<p>
		Will share a collection of guides here to aid players
	</p>
</Layout>
